---
import Navigation from '../components/Navigation.astro' ;

import '../styles/global.css';

skills : ['html', 'css', 'javascript'];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<h1>About</h1>

		<nav>
			<a href="/">Home</a>
			<a href="portfolio">Portfolio</a>
			<a href="about">About</a>
		</nav>

		<p>About me asdfasdfasdfasdfasdfasdfasdfasdfdasdfasdfasdfasdfa</p>
        
        <ul>
        {skills.map( (skills) =>
         { <b>{skills}</b>}
         )}
         </ul>
	</body>
</html>