---
import Navigation from '../components/Navigation.astro' ;
import '../styles/global.css';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Body of Work</title>
	</head>
	<body>
		<h1>Body of Work</h1>

		<p>All the stuff I've done</p>
	</body>

    <nav>
			<a href="/">Home</a>
			<a href="portfolio">Portfolio</a>
			<a href="about">About</a>
	</nav>
</html>